@page
@model ProyectoCiclo3.App.Frontend.Pages.FormBusesModel
@{
}

<div class="text-center">
    <form method="POST">
        <label for="marca" class="form-label">Marca</label>
        <input type="text" class="form-control" id="marca" name="marca" required placeholder="Marca" asp-for="Bus.marca">
        <label for="modelo" class="form-label">Modelo</label>
        <input type="text" class="form-control" id="modelo" name="modelo" required placeholder="Modelo" asp-for="Bus.modelo">
        <label for="kilometraje" class="form-label">kilometraje</label>
        <input type="number" class="form-control" id="kilometraje" name="kilometraje" required placeholder="kilometraje" asp-for="Bus.kilometraje" step="any">
        <label for="num_asientos" class="form-label">Asientos</label>
        <input type="number" class="form-control" id="num_asientos" name="num_asientos" required placeholder="Asientos" asp-for="Bus.num_asientos" step="any">
        <label for="tipo">Placa</label>
        <input type="text" class="form-control" id="placa" name="placa" required placeholder="Placa" asp-for="Bus.placa">
        <hr>
        <button type="submit" class="btn btn-success">Enviar</button>
    </form>
</div>