@page
@{
}
 
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Marca</th>
      <th scope="col">Modelo</th>
      <th scope="col">Kilometraje</th>
      <th scope="col">Asientos</th>
      <th scope="col">Placa</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mazda</td>
      <td>1986</td>
      <td>5000</td>
      <td>50</td>
      <td>ABC859</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Ford</td>
      <td>2010</td>
      <td>1000</td>
      <td>40</td>
      <td>ABC854</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Hyundai</td>
      <td>2020</td>
      <td>0</td>
      <td>40</td>
      <td>XYZ859</td>
    </tr>
  </tbody>
</table>